* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

nav .container {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(101, 99, 202);
  align-items: center;
  justify-content: space-between;
  padding: 0px 5rem;
}

nav .container a.mytitle {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

nav .container .navbar-item {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav .container .navbar-item ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 0px 3rem;
}

nav .container .navbar-item ul li a {
  color: #ccc;
  transition: all linear 0.2s;
  text-decoration: none;
}

nav .container .navbar-item ul li a:hover {
  color: #fff;
}

nav .container .hamburger-btn {
  flex-direction: column;
  gap: 3px 0;
  cursor: pointer;
  display: none;
}

nav .container .hamburger-btn section {
  height: 3px;
  width: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

section.jumbotron {
  background-color: #b0aef2;
  width: 100%;
}

section.jumbotron .container {
  /* background-color: red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 5rem;
}
section.jumbotron .container .mypic {
  width: 100%;
  display: flex;
  justify-content: center;
}

section.jumbotron .container .mypic img {
  border-radius: 100%;
  width: 300px;
  border: 3px solid #fff;
}

section.jumbotron .container .desc {
  width: 100%;
}

section.jumbotron .container .desc h1 {
  font-size: 2rem;
  color: #eee;
}

section.jumbotron .container .desc p {
  font-size: 1.3rem;
  color: #eee;
}

@media screen and (max-width: 787px) {
  nav .container {
    padding: 0 2rem;
  }
  nav .container .navbar-item {
    display: none;
  }

  nav .container .hamburger-btn {
    display: flex;
  }

  section.jumbotron .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  section.jumbotron .container .mypic img {
    width: 250px;
  }
  section.jumbotron .container .desc h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  nav .container {
    padding: 0 1.5rem;
  }
}
